<html>
    <head>
        <link rel="stylesheet" href="/css/chat.css">
        
    </head>

    <body>
        <div class="navbar">
            <h2>Solace</h2>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link 1</a></li>
            </ul>
        </div>

        

        <div class="container">
            <div class="left">
                        <div class="leftt">
                            <div class="pro">
                                <i class="fas fa-user"></i>
                            </div>
                            <p class="user">UserName</p>
                            
                        </div>
            

            </div>

            <div class="right">
                <div class="rightt"><p class="username">Jane Doe</p></div>
                <div class="rightf">

                    <form action="">
                        <input type="text" name="" class="message" placeholder="Write your message">
                        <div class="button"></div>
                    </form>
                    
                </div>
            </div>
        </div>

    </body>
</html>
