
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/landing.css">
    </head>

    <body onload="load()">
        <div class="left">
            <h2>Solace</h2>
            <h1>ABOUT <br> US</h1>
            <p>Welcome!Our objective with this web-app is to come together and beat the covid-19 lockdown induced stress, as we understand how difficult it has been for everyone and we've tried to keep in consideration how little things can spark joy in these times...
Thus presenting Solace, the one stop solution where all your little worries come to an end.</p>

            <div class="form1">
                    <a type="button" href="/login" class="button1">Login</a>
                    <a type="button"  href="/register" class="button1">Signup</a>
            </div>
                
            
        </div>
        
        <div class="right" >
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_abpsfqg6.json" mode="normal" background="transparent"  speed="1"  style="width: 100%; height: 100%;"  loop  autoplay></lottie-player>
        </div>

        <div class="nav">
            <ul>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/jobs">Jobs</a></li>
            </ul>
        </div>
        <script>
            async function load(){
                document.querySelector('body').style.display="block";
            }
        </script>
    </body>
</html>
