
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/login.css" rel="stylesheet">
    </head>
    <body onload="load()">
        <div class="container">
            <div class="left">
                <a href="/"><p>SOLACE</p></a>
                <div class="leftimg"></div>
            </div>

            <div class="right">
                
                <h2>Login</h2>
                <div class="form">
                    
                    <form method='post' action="/login">
						<input type="text" name="username" class="email" placeholder="Enter Name"><br><br>
						<input type="password" name="password" class="password" placeholder="Enter Password"><br><br>
						<button class="submit">Login</button>
					</form>
                   
                </div>
                
            </div>
            
           
        </div>
    </body>
</html>
