
<html>
    <head>
        <link rel="stylesheet" href="/css/signup.css">
    </head>

    <body>
        <div class="left">
         <a href='/'><p>Solace</p></a>   
            <div class="leftimg"></div>
        </div>

        <div class="right">
            <h2>Sign Up</h2>
            <p class="rightp">Welcome! If you haven't started your journey yet with Solace then what are you waiting for? Join our community and begin your expedition to daily doses of joy via our apps designed for you :)
If you already have an account, login.</p>
            <form method='post' action="/register">
                <input type="text" name="username" class="name" placeholder="Enter Name"><br><br>
                <input type="text" name="email" class="email" placeholder="Enter Email-Id"><br><br>
                <input type="password" name="password" class="pass" placeholder="Create a Password"><br><br>
                <input type="password" class="cpass" placeholder="Confirm Password"><br><br>
                <button>Submit</button>
            </form>
        </div>

        <script>
            document.querySelector('button').addEventListener('click',() =>{
                var pass= document.querySelector('.pass').value;
                var cpass= document.querySelector('.cpass').value;
                if(pass !== cpass){
                     alert('Passwords do not match');
                }
            })
            
        </script>
    </body>
</html>

