<html>
    <head>
        <link rel="stylesheet" href="/css/comment.css">
    </head>

    <body>
        <div class="navbar">
			<a style="text-decoration: none;" href="/"><h2>Solace</h2></a> 
            <ul>
				<% if(!currentUser){ %>
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Sign Up</a></li>
				<%	} else { %>
					<li><a href="/logout">Logout</a></li>
					<li><a href='/dash'>Dashboad</a></li>
			<%	} %>	
			<li><a href="/blog">Blogs</a></li>
			<li><a href="/jobs">Jobs</a></li>
            </ul>
        </div>

        <div class="container">
            <div class="left">
                <div class="inner">

                </div>
            </div>
            <div class="right">
            <h1>Add comment</h1>

            <form action="/blog" method="POST">
				<input name="name" placeholder="name" type="text">
				<input name="image" placeholder="enter image url" type="text">
                <textarea  name="description" placeholder="description" type="text" maxlength="200"></textarea><br><br>
                <button>Submit</button>
            </form>
            </div>
        </div>
    </body>
        
    
</html>


	

	
	

