<%- include("../partials/header.ejs") %>
<div class="jumbotron">
    <h1>
        Thanks for applying!
        Your application has been submited!
    </h1>
    

</div>
<a href="/jobs">Go back</a>


<%- include("../partials/footer.ejs") %>